* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style:none;
}

//https://colorhunt.co/palette/7d063331112cf2a07bfbdcc4
:root {
  --color-primary: #31112C;
  --color-secondary: #F2A07B;
  --color-light: #fff5ec;
  --color-black: #000;
  --color-grey-light: #6c7983;
  --color-grey-med: #454e56;
  --color-grey-dark: #2a2e35;
  --br-sm-02: 14px;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
  --transition: all .2s ease-in-out;
}

//https://colorhunt.co/palette/96ceb4ffeeadd9534fffad60
.light-mode{
  --color-primary: #96CEB4;
  --color-secondary: #DD4A48;
  --color-light: #FFEEAD;
  --color-black: #000;
  --color-grey-light: #6c7983;
  --color-grey-med: #454e56;
  --color-grey-dark: #f8f8f8;
}

body {
  background-color: var(--color-primary);
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  color: var(--color-light);
  transition: all .4s ease-in-out;
}

a{
  display: inline-block;
  text-decoration: none;
  color:inherit;
  font-family:inherit;
}

header{
  min-height: 100vh;
  color: var(--color-light);
  overflow: hidden;
}

section{
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section{
  transform: translateY(-100%) scale(0);
  transition: var(--transition);
  background-color: var(--color-primary);
}

.head-sec, .sec1, .sec2{
  display: none;
  transform: translateY(0) scale(1);
}

.active{
  display:block;
  animation: scaleAnim .8s ease-in-out;
  @keyframes scaleAnim {
    0%{
      transform: translateY(-100%) scaleY(0);
    }
    100%{
      transform: translateY(0) scaleY(1);
    }
  }
}

//Controls
.controls{
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  .active-btn{
    background-color: var(--color-secondary) !important;
    transition: var(--transition);
    i{
      color: var(--color-light) !important;
    }
  }
  .control{
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-grey-dark);
    width: 40px;
    height: 45px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .7rem 0;
    box-shadow: var(--box-shadow-1);
    i{
      font-size: 1.2rem;
      color: var(--color-grey-light);
      pointer-events: none;
    }
  }
}

.theme-btn{
  bottom: 5%;
  left:3%;
  width: 23px;
  height: 23px;
  border-radius: 15%;
  background-color: var(--color-grey-med);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0,0,0,.5);
  transition: all .1s ease-in-out;
  &:active{
    transform: translateY(-3px);
  }
  i{
    font-size: .75rem;
    color: var(grey-light);
    pointer-events: none;
  }
}


/*Independent components*/
.main-title{
  text-align: center;
  position:relative;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-secondary);
  .bg-text{
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--color-grey-dark);
    transition: var(--transition);
    z-index: -1;
    transform: translate(-50%,-50%);
    font-weight: 800;
    font-size: 6.3rem;
  }
}

//Header
.header-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
  .right-header{
    display: flex;
    align-items: center;
    position: relative;
    .h-shape {
      transition: var(--transition);
      width: 65%;
      height: 100%;
      background-color: var(--color-secondary);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      clip-path: polygon(18% 10%, 74% 22%, 80% 75%, 8% 80%); //https://www.cssportal.com/css-clip-path-generator/
    }
    .home-paragraph{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: center;
      padding-right: 18rem;
      color: var(--color-light);
    }
  }
  .left-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10rem;
    padding-right: 10rem;
    .name{
      font-size: 3rem;
      span{
        color:var(--color-secondary);
      }
    }
    .p{
      margin: 1.5rem 0;
      line-height: 2rem;
    }
  }
}

//RESUME
.resume-title{
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3rem 0;
  position: relative;
  &::before{
    content:'';
    position: absolute;
    left: 50%;
    top: 1rem;
    width:40%;
    height:1px;
    background-color: var(--color-grey-dark);
    transform: translateX(-50%);
  }
}

.toolbox{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-gap: 2rem;
  .toolbox-item{
    position: relative;
    border-left: 3px solid var(--color-grey-dark);
  }
}

.timeline{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 2rem;
  .timeline-item{
    position: relative;
    padding-left: 3rem;
    border-left: 1px solid var(--color-grey-dark);
    .tl-icon{
      position: absolute;
      left: -27px;
      top: 0;
      background-color: var(--color-secondary);
      width: 40px;
      height:40px;
      border-radius: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      i{
        font-size: 1.3rem;
      }
    }
    .tl-tools{
      display: grid;
      grid-template-columns: repeat(6,1fr);
      .tl-item{
        font-size: 15px;
        font-weight: bold;
        position: relative;
        padding-left: 1rem;
      }

    }
    .tl-duration{
      padding: .2rem .6rem;
      background-color: var(--color-grey-dark);
      border-radius: 15px;
      display: inline-block;
      font-size: .8rem;
      text-transform: uppercase;
      font-weight: 500;
    }
    h5{
      padding: .5rem 0;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 600;
      span{
        color: var(--color-grey-light);
        font-weight: 500;
        font-size: 1.2rem;
      }
    }
    p{
      color: var(--color-grey-light);
    }
    .job-desc{
      color: var(--color-grey-light);
      font-size: 1rem;
      ul {
        padding: .2rem .6rem;
        li {
          display: list-item;
          list-style-type: circle;
        }
      }
    }
  ;
  }
}

\\Portfolio
.portfolio-text{
  padding: 2rem 0;
  text-align: center;
}
.portfolios{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:2rem;
  margin-top:3rem;
  .portfolio-item{
    position: relative;
    img{
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 15px;
    }
    .hover-item{
      width: 100%;
      height: 100%;
      background-color: var(--color-secondary);
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      opacity: 0;
      transform: scale(0);
      transition: var(--transition);
      h3{
        font-size: 1.5rem;
        color: var(--color-white);
        margin-bottom: 1.5rem;
      }
      .icons{
        display: flex;
        justify-content: center;
        align-items: center;
        .icon{
          background-color: var(--color-primary);
          border-radius: 50%;
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 1rem;
          cursor: pointer;
          transition: var(--transition);
          i{
            font-size: 1.5rem;
            color: var(--color-white);
            margin: 0 1rem;
          }
          &:hover{
            background-color: var(--color-white);
            i{
              color: var(--color-primary);
            }
          }
        }
      }
    }
  }
}
.portfolio-item:hover .hover-item{
  opacity: 1;
  transform: scale(1);
}


//Responsive design
@import 'media';